[defaults]
inventory = hosts
;allow_world_readable_tmpfiles = True
;sudo_flags = -i

;[ssh_connection]
;pipelining = True
;ssh_args = -o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=30m -o ControlPath=~/.ansible/cp/ansible-ssh-%h-%p-%
